<a href="https://colab.research.google.com/github/Debugger-Dev/Big-Data-Assignment/blob/main/Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Description**: Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK'
in its place.

In [20]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list.pop()
input_list.append("SPARK")
input_list

['SAS', 'R', 'PYTHON', 'SPARK']

**String to List Conversion
Description** : Convert a string input_str = 'I love Data Science & Python' to a list by
splitting it on ‘&’. The sample output for this string will be:

In [22]:
input_str = 'I love Data Science & Python'
output=input_str.split("&")
output

['I love Data Science ', ' Python']

**List to String Conversion
Description**: Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very
clear'] to a string using ‘&’. The sample output of this string will be:

In [28]:
lst=['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
s=' & '.join([str(i) for i in lst])
s

'Pythons syntax is easy to learn & Pythons syntax is very clear'

**Nested List
Description**: Extract Python from a nested list
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [29]:
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list[2][0]

'Python'

**It’s the time to disco**
Description: t = ("disco", 12, 4.5)
What is the output of: t[0][2]


's'

**String Palindrome
Description**: Write a program to check whether a string is a palindrome or not. Print 1 if
the string is a palindrome and 0 otherwise.

Input: Any string
Output: 1 if the string is palindrome, 0 otherwise.

In [40]:
str=input("Enter a string for Palindrome test!!!: ")
str=str.upper()
if str== str[::-1]:
  print(1)
else:
  print(0)

Enter a string for Palindrome test!!!: mad
0

**Reverse Words
Description**: You will be given a sentence in the form of a string. You have to reverse the
order of the words in the sentence. Remember not to reverse the individual words, but
the order of words. Check the sample input-output for further clarification.
Input: A string, which will consist of a few spaces.
Output: The words in reverse order

In [45]:
strng=input("Enter a String: ")
strng_sep=strng.split(" ")
rev_strng=reversed(strng_sep)
new_strng=" ".join(rev_strng)
new_strng

Enter a String: aba aba bab

'bab aba aba'

**String Formatting**
Description: Write a program that satisfies below examples
Input 1: caloRie ConsuMed
Output 1: calorie_consumed
Input 2: data science
Output 2: data_science
Input 3: datascience
Output 3: datascience

In [53]:
input_str=input("Enter a String: ")
str1=input_str.lower()
str2=str1.split(" ")
str3="_".join(str2)
str3

Enter a String: datascience

'datascience'

In [75]:
print(list(range(10, 1, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

**Multiple Choice Questions**

1
* b. S[2:6]
* d. S[-11:-7]

2
* c. 81

3
* a. 1

4
* d. Error

5
* **There is no program attached**

6
* d. The code will throw an error

7
* c. Sets are immutable

8
* b. 
 * [‘Raj’, 22]
 * [‘Simran’, 21]
 * [‘Rahul’, 40]

9
* d. [word for word in sentence.split() for sentence in paragraph]

10
* d. [10, 9, 8, 7, 6, 5, 4, 3, 2]